.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #fff;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.1);
  color: #323232;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 2;
}

button {
  display: inline-block;
  border-radius: .1875rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: .688rem 1.5rem;
  color: #e40000;
  border: 2px solid #e40000;
  margin: 1rem 0 1.5rem 0;
}

button:hover {
  background: #e40000;
  color: #fff;
}

input {
  border: 2px solid #dadada;
  box-sizing: border-box;
  color: #323232;
  font-size: 18px;
  height: 48px;
  line-height: 25.5px;
  padding: 10.5px 35px 12px 14px;
  font-family: 'Abel', Arial, Verdana, sans-serif;
}

.search {
  position: fixed;
  top: 10vh;
  width: -webkit-fill-available;
  background: #323232;
  padding: 1vh;
  z-index: 1;
}