@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  margin: 0;
  font-family: 'Abel', Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
